@import url(variables.css);

body {
    margin: auto;
    max-width: 1200px;
}

.name, footer {
    background-color: #120EB5;
}

/*Header*/

header {
    position: sticky;
}

.name, footer p {
    display: flex;
    justify-content: center;
    font-family: var(--header-font);
    font-size: 2rem;
}

header a, footer p {
    color: white;
    text-decoration: none;
}

header p {
    margin: 0px;
}

nav {
    display: flex;
    justify-content: space-around;
    font-family: var(--default-font);
    font-size: 1.2rem;
}

nav li {
    display: flex;
}

nav ul {
    padding: 10px;
}

/*Main*/

main {
    font-family: var(--default-font);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 50px auto;
}

h1, h2 {
    margin: 50px auto;
}

h3 {
    font-weight: 300;
}

.portfolio {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.portfolio div {
    text-align: center;
}

.portfolio img {
    width: 80%;
}

footer {
    padding: 10px;
    font-family: var(--header-font);
}