@import url(variables.css);

body {
    margin: auto;
    max-width: 1200px;
}

.name, footer {
    background-color: #120EB5;
}

/*Header*/

header {
    position: sticky;
}

.name, footer p {
    display: flex;
    justify-content: center;
    font-family: var(--header-font);
    font-size: 2rem;
}

header a, footer p {
    color: white;
    text-decoration: none;
}

header p {
    margin: 0px;
}

nav {
    display: flex;
    justify-content: space-around;
    font-family: var(--default-font);
    font-size: 1.2rem;
}

nav li {
    display: flex;
}

nav ul {
    padding: 10px;
}

/*Main*/

main {
    font-family: var(--default-font);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 50px auto;
}

h1, h2 {
    margin: 50px auto;
}

h2 {
    grid-column: 1/2 ;
}

h3 {
    font-size: 1.4rem;
    font-weight: 400;
}

section {
    max-width: 600px;
    margin: auto;
}

.portfolio {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    max-width: 600px;
    margin: auto;
}

.portfolio div {
    text-align: center;
    margin: 50px auto;
}

.portfolio img {
    width: 80%;
}

.portfolio a {
    text-decoration: none;
    padding: 8px 20px;
    color: black;
    background-color: #999999;
    border-radius: 10px;
    text-align: center;
    font-size: 1.2rem;
}

.portfolio a:hover {
    background-color: #4ee05d;
}

.about-me {
    display: flex;
    flex-direction: column;
}

.about-me p {
    font-size: 1.4rem;
}

/*Footer*/

footer {
    padding: 10px;
    font-family: var(--header-font);
}